In [126]:
# imports
import pandas as pd

In [127]:
# load csv into a pandas dataframe
original_df = pd.read_csv('orders.csv')
original_df.head()

,order_id,customer_id,order_date,product_id,quantity,price_per_unit
0,fe7936d1-e1d7-4dbd-8af7-f611e878a48c,d89361e1-c0d7-444c-af5e-062f5b7df5d8,2022-10-15,0b22e4da-115f-44ed-9941-47862ecbc027,2,7.38
1,a429769a-9f38-43ec-af7b-0fb3a61e4138,c003a139-5af1-4bea-8c79-0ba014056956,2022-12-02,80045c84-3e6d-4d8a-b2b1-ea36cbcc01ec,4,18.26
2,7b2a8ddc-c8a6-4702-99db-712c85887a40,e9e12fd1-2ad1-4ba9-93fd-06c989425ff2,2023-05-12,232a1e81-1e73-435e-ba84-04ca8f624767,9,13.26
3,7fe096fa-9a11-476b-b6ec-a5ae18b3a7a5,83d50b28-1230-4cab-8da7-b72c17b2baed,2023-12-19,37ab904d-b639-4db5-ab4a-68612c7ce808,1,13.90
4,4546ae35-5a38-4aef-91b1-7d4ab5b946c3,3626c0da-1f8c-4cc5-b5be-dea6f3b20bec,2023-09-24,0be947da-a513-42ad-a35d-1ffe9b13a61d,10,7.52

In [128]:
# part 1 - Calculate total expenditure per customer
df = original_df.copy()
df['total_spent'] = df['quantity'] * df['price_per_unit']
total_expenditure = df.groupby('customer_id')['total_spent'].sum().reset_index()
total_expenditure

                              customer_id  total_spent
0    002f5b68-8831-4b6b-a06d-576b43948a77       108.99
1    0157dbab-fc63-48e8-9eb7-f55d82205f22       607.80
2    01af9c3c-ac58-409d-abde-2b6d0652c1c9       202.79
3    02123bf3-a3a2-4858-811f-37431fad279a       637.92
4    029433b1-00c3-47c8-b79a-318b0fa65f57       733.20
..                                    ...          ...
993  fe9efc3f-3181-432b-b805-f68213aacc7b        61.70
994  ff154d55-7bdd-4bec-b873-c0cee96a20e5       311.60
995  ff241a5b-6214-4fd2-b7df-6ec287ccbf19       887.58
996  ffaa0d50-ec76-47ab-9dfb-b923d152a69a       385.30
997  ffc5e0c7-0f21-4fb2-8ddc-482d9e725e21        51.66

[998 rows x 2 columns]

In [129]:
# part 1 - Find the top 5 customers who spent the most
top_customers = total_expenditure.nlargest(5, 'total_spent')
top_customers

                              customer_id  total_spent
559  8e3c3d15-5696-4323-a84c-32f67494ae8b        996.3
309  5525c5e5-45de-4755-88dd-40d8c9097889        990.5
82   176e0164-b84e-4121-94ee-9c3e99f6e6c2        985.2
364  63e1f9a3-c844-40ca-aef9-5fcb95b2fdd7        972.5
357  6290d3b1-a941-490b-88ce-dc2e887dfceb        965.5

In [130]:
# part 2 - Determine the customer who placed the highest number of orders
df = original_df.copy()
df_copy_part2 = df[df['customer_id'] != 'INVALID_ID']
customer_total_items = df_copy_part2.groupby('customer_id')['quantity'].sum().reset_index()
customer_total_items = customer_total_items.rename(columns={'quantity': 'total_items_purchased'}).sort_values(by="total_items_purchased", ascending=False)
max_items = customer_total_items['total_items_purchased'].max()
customers_with_max_items = customer_total_items[customer_total_items['total_items_purchased'] == max_items]
customers_with_max_items

                              customer_id  total_items_purchased
810  d1439f15-c0c5-471b-838d-d966e3fdbc15                     10
145  271d52b0-2941-4469-842f-b4fc20dfc170                     10
129  21fb9205-29ea-4f36-8f87-6e6119d96690                     10
130  221f7a4d-eb9c-4c42-85d0-d2411acf6751                     10
138  25717514-d52e-4160-b7e0-dabb779f0b99                     10
..                                    ...                    ...
636  a0d7de43-752b-464f-ae54-6da764c5cdbe                     10
735  bc1e0049-95be-4143-a374-5fe8b8bc7243                     10
768  c6bedf46-fc06-4f81-bc05-39cc63116c09                     10
729  b9b05932-9718-44f1-b27e-14a71ce24613                     10
974  f923b4be-9d72-44db-a39c-bb691845adc0                     10

[108 rows x 2 columns]

In [131]:
# part 2 - Calculate the most popular product
df = original_df.copy()
product_sales = df.groupby('product_id')['quantity'].sum().reset_index()
max_sales = product_sales['quantity'].max()
most_sold_products = product_sales[product_sales['quantity'] == max_sales]
most_sold_products

                               product_id  quantity
25   06e641f7-8346-4550-8b9b-ad86c35d5516        10
34   0926ffb5-65ab-4904-92f8-f31d7093c4af        10
41   0ae1ff31-e5dc-453d-b088-3ad907308310        10
48   0b4fd66f-ba1b-4ecf-a10e-5b52aaeec3a5        10
53   0be947da-a513-42ad-a35d-1ffe9b13a61d        10
..                                    ...       ...
976  f9311151-c258-4d5f-8c16-ec42b5b3a136        10
978  f9ac1a6d-bc7d-49a2-b4d1-413306d1db28        10
983  fbb23ae9-a4ac-408d-93b2-718dd5a0289b        10
990  fdf7024a-bda6-4d14-ac4d-bad9373ab4d9        10
991  fe348fe7-e7cf-46fa-b332-6712f12d58fb        10

[108 rows x 2 columns]